@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


ul {
    display:flex;
    justify-content: space-between;
    list-style:none;
 }
 
li {
    flex: 0 0 auto;
    padding-left: 20px;
 }

.content {
    flex: 1;
}

.header-container {
    background: #1F2937;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-self: center;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

.section-one {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5% 15% 10% 15%;
}

.section-one-content {
    display: flex;
    justify-content: space-evenly;
}

.section-one-signup-container {
    width: 50%;
    padding-right: 50px;
}

.section-one-image {
    background: #E5E7EB;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center
}

.section-one-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    padding-right: 50px;
}


.section-one-blurb {
    color: #E5E7EB;
}

.section-one-signup-button {
    background: #3882f6;
    color: #F9FAF8;
    padding: 7px 25px 7px 25px;
    margin-top: 12px;
    border-radius: 8px;
    border: 0;
    font-weight: 800;
}


.section-two {
    display: flex;
    flex-direction: column;
}

.section-two-title {
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.section-two-image-container {
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 40px;
    margin-bottom: 120px;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.section-two-group {
    display: flex;
    flex-direction: column;

}

.section-two-image {
    border: 5px solid;
    border-radius: 12px;
    height: 150px;
    width: 150px;
    border-color: royalblue;
}

.section-two-text {
    width: 150px;
    margin-top: 10px;
    text-align: center;
    align-self: center;
}

.section-three {
    background: #E5E7EB;
    align-content: center;
    justify-content: center;
    display: flex;
}

.section-three-container {
    padding: 10% 20% 10% 20%;
}

.section-three-text {
    align-content: center;
    justify-content: center;
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.section-three-quote {
    font-size: 28px;
    justify-content: flex-end;
    display: flex;
    font-weight: 800;
    margin-left: 20px;
    margin-top: 20px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1 0 auto;
    padding: 10%
}

.section-four-signup {
    display: flex;
    justify-content: space-evenly;
    background: #3882f6;
    border-radius: 12px;
    padding: 40px;

}

.section-four-title {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 24px;
}

.section-four-blurb {
    color: #E5E7EB;
    font-size: 18px;
    padding-right: 80px;
}

.section-four-signup-button {
    background: #3882f6;
    color: #F9FAF8;
    padding: 7px 25px 7px 25px;
    margin-top: 12px;
    border-radius: 8px;
    border: 2px solid;
    font-weight: 800;
    flex-grow: 0;
}

.footer-container {
    background: #1F2937;
    justify-content: center;
    display: flex;
}

.footer {
    color: #F9FAF8;
    align-content: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    padding: 30px;
}